<select (change)="onCategoryChange($event)" class="m-3">
  <option *ngFor="let category of categories" [value]="category">
    {{ category }}
  </option>
</select>
<select (change)="onStockChange($event)" class="m-3">
  <option
    *ngFor="let category of ['All', 'In stock', 'Out of stock']"
    [value]="category"
  >
    {{ category }}
  </option>
</select>
<mat-form-field>
  <mat-select placeholder="Categories">
    <mat-option *ngFor="let cat of categories" [value]="cat">
      {{ cat }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-radio-group>
  <mat-radio-button
    value="category"
    
    *ngFor="let category of ['All', 'In stock', 'Out of stock']"
    >{{ category }}</mat-radio-button
  >
</mat-radio-group>
