<div class="p-3 bg-yellow-100">
  <h1 class="text-red-800 p-3 font-bold">Hello world</h1>
  <h2>Category selected is: {{ selectedCategory }}</h2>
  <app-filter
    [categories]="categories"
    [selectedCategory]="selectedCategory"
    (sendCategory)="onCategorySelected($event)"
  ></app-filter>
  <div class="flex gap-3"></div>
</div>
<ul
  class="border-4 rounded-md p-3 bg-slate-100 mt-3 flex flex-wrap gap-2 items-start justify-center"
>
  <app-product
    *ngFor="let product of products"
    [product]="product"
    [selectedCategory]="selectedCategory"
  />
</ul>
