<div class="p-3 bg-yellow-100">
  <h1 class="text-red-800 p-3 font-bold">Hello world</h1>
  <h2>The name is {{ name }}, cames from {{ childId }}</h2>
  <app-filter [categories]="categories"></app-filter>
  <div class="flex gap-3">
    <h1>The count is {{ number }}</h1>
    <button
      (click)="numberMinus()"
      class="text-blue-800 font-extrabold border rounded-md w-5 bg-red-100 hover:bg-slate-300"
    >
      -
    </button>
    <button
      (click)="numberPlus()"
      class="text-blue-800 font-extrabold border rounded-md w-5 bg-red-100 hover:bg-slate-300"
    >
      +
    </button>
  </div>
</div>
<ul
  class="border-4 rounded-md p-3 bg-slate-100 mt-3 flex flex-wrap gap-2 items-start justify-center"
>
  <app-product
    *ngFor="let product of products"
    [product]="product"
    (nameSent)="receiveData($event)"
  />
</ul>
